body {
    background-color: #c4e0e4;
}

.sapMGTHdrContent {
    background-color: azure;
}

.sapMShellBG {
    background-color: #c4e0e4;
}

section {
    background-color: #ccedf2;
}

.item4 {
    background-color: aquamarine;
    width: 200px;
}

#__image1 {
    opacity: 20%;
    width: 80%;
    padding-left:9%;
    padding-top:2%;
}

#bx2 {
    align-content: center;
}

#healthComponentContainer-healthComponent---home--myPatientsTile {
    border: 2px solid green;
}